body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: crimson;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: crimson;
    color: skyblue;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
}

a {
    text-decoration: none;
    color: skyblue;
}

h1 {
    margin: 0;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}

.evento {
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    color: crimson;
    font-size: 1.6em;
    margin-bottom: 10px;
}

.descripcion {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.galeria {
    margin-top: 20px;
}

.galeria h3 {
    font-size: 1.4em;
    margin-bottom: 15px;
}

.contenedor-medios {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    /* Esta propiedad define cómo se van a comportar los elementos de un contenedor flez cuando no caben en una sola línea. En este caso,
    el valor wrap hace que se cambien de línea cuando no quepan. */
}

.contenedor-medios .medio {
    max-width: 45%;
    height: auto;
    border-radius: 8px;
}

footer {
    background-color: crimson;
    color: skyblue;
    text-align: center;
    padding: 10px;
    width: 100%;
}
